page-about {
	.main{
    background-color: #F2F2F2;
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .menuIo {
    margin: 5px 0px 5px 20px;
    font-size: 35px
  }
  .atIo {
    margin: 5px 0px 5px 0px;
    font-size: 35px
  }
  .cartIo{
    float:right;
    margin: 10px 25px 5px 0px;
    font-size: 30px
  }
  .personIo{
    float:right;
    margin: 10px 15px 5px 2px;
    font-size: 30px
  }
  .shop-image1 {
  	width: 70%;
  	margin: 0 auto;
  }
  .ion-card{
  	width: 100%;
  	margin: 20px 0px 0px 0px;
  }
  .more-bt{
  	border-radius: 50%;
  	font-size: 25px;
  	margin-top: -10px;
  	font-size: 20px;
  	font-weight: 600;
  	width:30px;
  	height:30px;
  	background-color: white;
  	border:1px solid grey;
  	color: black;
  }
  .decripte{
	  p{
	  	  width: 100%;
	      font-size: 5px;
	   }
	}

}
