page-home {
  .main{
    background-color: #F2F2F2;
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  ion-slides {
  }
  .slides{
    height: 27%;
    margin-top: 0;
  }
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2rem;
  }

  .slide-image {
    max-height: 100%;
    max-width: 98%;
    margin: 5px 3px 0 3px;
  }

  .menuIo {
    margin: 5px 0px 5px 20px;
    font-size: 35px
  }
  .atIo {
    margin: 5px 0px 5px 0px;
    font-size: 35px
  }
  .cartIo{
    float:right;
    margin: 10px 25px 5px 0px;
    font-size: 30px
  }
  .personIo{
    float:right;
    margin: 10px 15px 5px 2px;
    font-size: 30px
  }
  .main-image1{
    max-height: 100%;
    max-width: 105%;
    margin: 0px 0px 0px -5px;
    position: relative;
  }
  .main-image2{
    max-height: 100%;
    max-width: 105%;
    margin: 0px 0px 0px -5px;
    position: relative;
  }
  .ion-card{
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .card-head{
    font-weight: 300;
    border : 1px;
  }

  .ion-col1{
    text-align: center;
    border: 0.5px solid #F2F2F2;
    ion-card-title{
      font-size: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p{
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span{
      color: red;
    }
  }
  .shop-image1 .shop-image2 .shop-image3 {
    height: 70%;
  }
  .shop-image4{
    width: 75px;
    height: 80px;
    margin-left: 30%;
  }
  .offical{
    max-width: 120%;
    width:120%;
    margin: 0px -10px 0px -10px;
  }
  .select-menu{
    background-color: #FAFAFA;
    font-size: 14px;
  }
  .select-child{
    background-color: #F2F2F2;
    font-size: 13px;
    margin-left: 0px;
  }
  .ion-menu{
    background-color: #FAFAFA;
    p{
      font-size: 12px;
      margin-left: -15px;
      width:110%
    }
    .point{
      margin-bottom: -5px;
      color: black;
    }
    
  }

  .more-bt{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -10px;
    height:30px;
    float:right
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }


}
