modal-content {
  .main{
    background-color: #F2F2F2;
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  .slides{
    height: 27%;
    margin-top: 0;
  }
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2rem;
  }

  .slide-image {
    max-height: 100%;
    max-width: 98%;
    margin: 5px 3px 0 3px;
  }

  .menuIo {
    margin: 5px 0px 5px 20px;
    font-size: 35px
  }
  .atIo {
    margin: 5px 0px 5px 0px;
    font-size: 35px
  }
  .cartIo{
    float:right;
    margin: 10px 25px 5px 0px;
    font-size: 30px
  }
  .personIo{
    float:right;
    margin: 10px 15px 5px 2px;
    font-size: 30px
  }
  .main-bg{
    background-color: black;
  }
  .item-list{
    border-color: #F2F2F2;
  }
  .select-menu{
    background-color: black;
    color:white;
    font-size: 15px;
    font-weight: 550;
    height: 60px;
  }
  .ion-col1{
    margin-left: -10px;
    text-align: center;
    ion-icon{
      font-weight: 550;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p{
      font-size: 12px;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span{
      color: red;
    }
  }

  

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }


}
