<ion-header>
  <ion-navbar color="dark">
    <ion-icon name="menu" color="light" class="menuIo" (click)="dismiss()"></ion-icon>
    <ion-title><ion-icon name="at" color="light" class="atIo"></ion-icon></ion-title>
    <ion-icon name="person" color="light" class="personIo"></ion-icon>
    <ion-icon name="cart" color="light" class="cartIo"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content class="main-bg">
  <ion-list class="item-list">
    <div *ngFor="let item of slides">
      <ion-item  class="select-menu">
        {{ item }}
        <ion-icon name="arrow-forward" color="light" style="float:right"></ion-icon>
      </ion-item >
    </div>
    <ion-grid>
        <ion-row>
          <ion-col col-3 class="ion-col1"  *ngFor="let shop of items">
            <ion-icon [name]="shop.icon" color="light" class="personIo"></ion-icon>
            <p [innerHTML]="shop.title">
            </p>
          </ion-col>
        </ion-row>
      </ion-grid> 
  </ion-list>
</ion-content>